.exe
.cgi
/joomla
/moo
/foo/
/josei
/a2billing
/dansei
/seiyugbbs
/backup
/backups
/phpmyadmin
/cgi-bin
/commoncgi
/servlet
/CCGIServlet
/intruvert/jsp/admin/Login.jsp
/getcfg.php
/xmlrpc.php
/admin/config.php
/users.sql
/site.sql
/login.cgi
/index.php/wp-json
/wp-content/themes/twentyfifteen/content-none.php
?param=<SCRIPT>foo</SCRIPT>.jsp
%20UNION%20ALL%20SELECT%20NULL%2CNUL
%20UNION
%20ALL
%20SELECT
%20NULL
%2CNUL
0X0P+0
0x0p+0mp
/.git
/wp-config.php-old
/wp-config.php.old
/wp-config.phpold
/wp-config.php~
/pki-validation
/struts2-rest-showcase
/orders.xhtml
/index.action
/index.do
/assets/global/plugins/jquery-file-upload/server/php/index.php
/wp-admin/admin-ajax.php?action=revslider_show_image&img=../wp-config.php
%20union%20select%200x5e2526
+union+select+0x5e2526,0x5e2526,0x5e2526+
/?page_monique
/?blog.alanis
/wp-content/themes/twentyten/inc/.zooapplication.php?testwrite1=1
/wp-content/themes/twentyten/inc/.zooapplication.php
/wp-content/themes/twentysixteen/inc/.zooapplication.php?testwrite1=1
/wp-content/themes/twentysixteen/inc/.zooapplication.php
/wp-content/plugins/optinmonster/database.php?xsec=team
/wp-content/plugins/optinmonster/database.php
/xmlrpz.php
/wp-content/wp-xml.php?up=1
/wp-content/wp-xml.php
/Camilles.php
/wp-content/w3tc-config/newversion.php
/wp-content/w3tc-config
/wp.php
/styls.php
/cgibin/php
/utility/convert/index.php
/ashop.html?brand
/etc/passwd
/etc/
/js/slinkroot.js
/Служебная:Недопустимое_название
/%D0%A1%D0%BB%D1%83%D0%B6%D0%B5%D0%B1%D0%BD%D0%B0%D1%8F:%D0%9D%D0%B5%D0%B4%D0%BE%D0%BF%D1%83%D1%81%D1%82%D0%B8%D0%BC%D0%BE%D0%B5_%D0%BD%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5
/&testcookie