# Restore the last state of iptables and ipset (workaround approach when ifup/ifdown are not available)
@reboot root sleep 30 && "/etc/wwwsas/firewall/ipset-restore.sh" >"/etc/wwwsas/tmp/ipset-restore.cron.log" 2>&1
@reboot root sleep 35 && "/etc/wwwsas/firewall/iptables-restore.sh" >"/etc/wwwsas/tmp/iptables-restore.cron.log" 2>&1

# Save the default state of iptables and ipset
@reboot root sleep 20 && "/etc/wwwsas/firewall/ipset-default-save.sh" >"/etc/wwwsas/tmp/ipset-default-save.cron.log" 2>&1
@reboot root sleep 25 && "/etc/wwwsas/firewall/iptables-default-save.sh" >"/etc/wwwsas/tmp/iptables-default-save.cron.log" 2>&1

# Auto restore the defaults each 30 minutes during the SETUP preocess > disable these rules when you are ready
*/30 * * * *  "/etc/wwwsas/firewall/ipset-default-restore.sh" >"/etc/wwwsas/tmp/ipset-default-restore.cron.log" 2>&1
*/30 * * * *  "/etc/wwwsas/firewall/iptables-default-restore.sh" >"/etc/wwwsas/tmp/iptables-default-restore.cron.log" 2>&1

# Flush iptables WWWSAS chain each week
0 3 * * 7 "/etc/wwwsas/firewall/iptables-flush-wwwsas.sh" >"/etc/wwwsas/tmp/iptables-flush-wwwsas.cron.log" 2>&1

# Flood detector: execute flood-detector.sh each minute
* * * * * root "/etc/wwwsas/modules/flood-detector.sh" 'AutoMode' >> "/etc/wwwsas/tmp/execution.log" 2>&1

# Log analyse: execute post-analyse.sh each hour
15 * * * * root "/etc/wwwsas/modules/post-analyse.sh" 'AutoMode' >> "/etc/wwwsas/tmp/execution.log" 2>&1

# GeoLite2 Data base Update: execute geoip-update.sh two times per week
0 2 * * 3,6 root "/etc/wwwsas/modules/geoip-update.sh" >> "/etc/wwwsas/tmp/geoip-update.cron.log" 2>&1